body {
  font-family: "lato", sans-serif;
}

/* bg-container html */
.bg-container {
  background-color: #f8f9fa;
  height: 100vh;
}

/* grocery html*/
.G-heading {
  text-align: center;
  font-size: 46px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* create item html */
.create-heading {
  font-size: 32px;
  font-weight: 700;
}

/* span element styling  html*/
.create-item-heading-subpart {
  font-size: 32px;
  font-weight: 500;
}

/* my html */
.G-items-heading {
  font-size: 32px;
  font-weight: 700;
}

/* span eleemnt  html */
.G-items-heading-subpart {
  font-size: 32px;
  font-weight: 500;
}

/* list eleemnt container styling  html*/
.G-items-container {
  margin: 0px;
  padding: 0px;
}
/* styling js */
.g-item-container {
  margin-top: 15px;
}

/* input styling html  */
.G-user-input {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
}

/* button styling html */
.add-button {
  color: white;
  background-color: #2f9e44;
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

/* js */
.label-container {
  background-color: #ebfbee;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #37b24d;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
}
/* js */
.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
  cursor: pointer;
}
/* js */
.checkbox-label {
  font-size: 16px;
  font-weight: 400;
  width: 82%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
/* js */
.delete-icon-container {
  text-align: right;
  width: 18%;
}
/* js */
.delete-icon {
  padding: 15px;
  cursor: pointer;
}
/* js */
.checked {
  text-decoration: line-through;
}
.img-icon {
  height: 60px;
  width: 60px;
  margin: 10px;
}
